@font-face {
  src: url("images/fontawesome-webfont.ttf");
  font-family: "FontAwesome-Glyphs";
}
* {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
ul {
  list-style: none;
}
html {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans;
  white-space: nowrap;
  background-color: #ffffff;
  color: #000000;
}
div {
  white-space: normal;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 21px;
  font-weight: 400;
}
.grid {
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
}
.g1,
.g2,
.g3,
.g4,
.g5,
.g6,
.g7,
.g8,
.g9,
.g10,
.g11,
.g12,
.g1-12,
.g2-12,
.g3-12,
.g4-12,
.g5-12,
.g6-12,
.g7-12,
.g8-12,
.g9-12,
.g10-12,
.g11-12,
.g12-12 {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}
.g1 {
  width: 100px;
}
.g2 {
  width: 200px;
}
.g3 {
  width: 300px;
}
.g4 {
  width: 400px;
}
.g5 {
  width: 500px;
}
.g6 {
  width: 600px;
}
.g7 {
  width: 700px;
}
.g8 {
  width: 800px;
}
.g9 {
  width: 900px;
}
.g10 {
  width: 1000px;
}
.g11 {
  width: 1100px;
}
.g12 {
  width: 1200px;
}
.g1-12 {
  width: 8.333%;
}
.g2-12 {
  width: 16.666%;
}
.g3-12 {
  width: 25%;
}
.g4-12 {
  width: 33.332%;
}
.g5-12 {
  width: 41.665%;
}
.g6-12 {
  width: 50%;
}
.g7-12 {
  width: 58.331%;
}
.g8-12 {
  width: 66.664%;
}
.g9-12 {
  width: 75%;
}
.g10-12 {
  width: 83.33%;
}
.g11-12 {
  width: 91.663%;
}
.g12-12 {
  width: 100%;
}
.col {
  border-right: 1px solid #000000;
  height: 100%;
}
.title {
  height: 100px;
  padding: 0 20px;
  border-bottom: 2px solid #000000;
  position: relative;
}
.title .title-txt {
  position: absolute;
  bottom: 10px;
}
.menubar .container {
  margin-top: 42px;
}
.menu-btn {
  font-family: "FontAwesome-Glyphs";
  display: block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 23px 0 17px;
  margin: 0;
  text-decoration: none;
  color: #000000;
}
.menu-btn:hover {
  background-position: 50% 40%;
  color: #ffffff;
  background-color: #ff0000;
}
.content {
  display: inline-block;
  width: 100%;
  margin-left: -4px;
}
.game-active {
  padding: 10px 20px;
  border-bottom: 1px dotted #000000;
  cursor: pointer;
}
.game-active:hover {
  background-color: #ff0000;
  color: #ffffff;
}
.game-active .adjs {
  font-family: "Georgia, serif";
  font-style: oblique;
  font-size: 10px;
  line-height: 14px;
}
.game-active .adjs li {
  display: inline;
}
.game-active .adjs li::after {
  content: ",";
}
.game-active .adjs li:last-child::after {
  content: "";
}
.input {
  padding: 8px 0 30px;
}
.input label {
  font-size: 12px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  padding: 0 20px;
}
.input input {
  width: 100%;
  padding: 8px 20px 7px;
  box-shadow: none;
  border: none;
  border-top: 2px solid #000000;
  border-bottom: 1px solid #000000;
  outline: none;
  font-family: "Georgia, serif";
  font-style: oblique;
  font-size: 12px;
}
.input input:focus {
  color: #ff0000;
}
.input ul {
  border-top: 2px solid #000000;
  border-bottom: 1px solid #000000;
}
.input ul li {
  font-family: "Georgia, serif";
  font-style: oblique;
  font-size: 12px;
  border-bottom: 1px dotted #000000;
  padding: 8px 20px 7px;
}
.input ul li input {
  padding: 0;
  border: none;
}
.input ul li:last-child {
  border-bottom: none;
}
