<!doctype html>
<html>
<head>
    <title>Rankazoo</title>
    <!-- <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"></link> -->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

    <style type="text/css">
        .slider {
            width: 400px;
            float: right;
        } 
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".slider").each(function(){
                var $this = $(this);
                $this.slider({ 
                    orientation: "horizontal",
                    min: parseFloat($this.attr("minvalue")),
                    max: parseFloat($this.attr("maxvalue")),
                    step: 1,
                    value: parseFloat($this.attr("rankvalue")),
                    create: function(){
                        var $this = $(this)
                        var val = parseFloat($this.attr("rankvalue"));
                        $this.slider("value", val);
                    },
                    slide: function(){
                        var $this = $(this);
                        $this.siblings("span.rankvalue").text($this.slider("value"));

                    },
                    change: function(){
                        var $this = $(this);
                        var val = $this.slider("value");
                        var url = $this.attr("saveurl");
                        $.post(url, {"value" : val}); 
                    }
                });
            });
        });
    </script>
    {% block includes %}
    {% endblock %}
</head>

<body>
    <div class="container">
        <h1><a href="{% url index %}">Ranker</a></h1>
        {% block container %}
        {% endblock %}
    </div>
</body>

