<html>
    <head>
        <title>The Axis Game</title>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <link rel="stylesheet" href="/static/css/font-awesome.css">
        <link rel="stylesheet" href="/static/css/font-awesome-ie7.css">
    </head>
    <body class="grid g12-12">
        <div class="menubar col g1">
            <div class="container">
                <a href="#list" class="menu-btn list">
                    <i class="icon-reorder"></i>
                </a>
                <a href="#account" class="menu-btn account">
                    <i class="icon-user"></i>
                </a>
                <a href="#settings" class="menu-btn setting">
                    <i class="icon-cog"></i>
                </a>
            </div>
        </div>
        <div class="content grid">
            <div class="col g6-12">
                <div class="title">
                    <h1 class="title-txt">The Axis Game</h1>
                </div>
                <div class="container">
                    {% for game in games %}
                    <div class="game-active">
                        <h2>{{ game.title }} - {{ game.plotter }}</h2>
                        <ul class="adjs">
                            {% for ax in game.gameaxis_set.all %}
                                <li>{{ ax.axis.title }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                    <!--
                    <div class="game-active">
                        <h2>Stormageddon Banks</h2>
                        <ul class="adjs">
                            <li>Adjective</li>
                            <li>Adjective</li>
                            <li>Adjective</li>
                            <li>Adjective</li>
                            <li>Adjective</li>
                        </ul>
                    </div>
                    <div class="game-active">
                        <h2>Stormageddon Banks</h2>
                        <ul class="adjs">
                            <li>Adjective</li>
                            <li>Adjective</li>
                            <li>Adjective</li>
                            <li>Adjective</li>
                            <li>Adjective</li>
                        </ul>
                    </div>
                    <div class="game-active">
                        <h2>Stormageddon Banks</h2>
                        <ul class="adjs">
                            <li>Adjective</li>
                            <li>Adjective</li>
                            <li>Adjective</li>
                            <li>Adjective</li>
                            <li>Adjective</li>
                        </ul>
                    </div>
                    <div class="game-active">
                        <h2>Stormageddon Banks</h2>
                        <ul class="adjs">
                            <li>Adjective</li>
                            <li>Adjective</li>
                            <li>Adjective</li>
                            <li>Adjective</li>
                            <li>Adjective</li>
                        </ul>
                    </div>
                    -->
                </div>
            </div>
            <div class="col g3-12">
                <div class="title">
                    <span class="title-txt">
                        <h3>Things</h3>
                    </span>
                </div>
                <div class="container">
                    <div class="action">
                        <label for="">Enter a thing</label>
                        <input type="text">
                    </div>
                    <div class="action">
                        <label for="">Enter a few things</label>
                        <ul>
                            <li>Things</li>
                            <li><input type="text"></li>
                            <li><input type="text"></li>
                            <li><input type="text"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </span>
    </body>
</html>
