{% extends "base.html" %}

{% block includes %}

<script type="text/javascript" src="https://raw.github.com/mbostock/d3/master/d3.v2.min.js"></script>
<script type="text/javascript">
    DATA = [
        {% for item, rankx, ranky in game.plotted_items %}
            {slug: "{{ item.slug }}", title: "{{ item.title|escape|escapejs }}", rankx: {{ rankx.value }}, ranky: {{ ranky.value }} },
        {% endfor %}
    ];

{% comment %}
    XLABEL = "{{ x_axis.title|escape|escapejs }}";
    YLABEL = "{{ y_axis.title|escape|escapejs }}";
{% endcomment %}
    XLABEL = "X";
    YLABEL = "Y";

    XRANGE = [{{ x_axis.get_min_value }}, {{ x_axis.get_max_value }}];
    YRANGE = [{{ y_axis.get_min_value }}, {{ y_axis.get_max_value }}];

    $(document).ready(function(){
        var svg = d3.select("div.chart")
                    //.data(DATA)
                    .append("svg")
                    .attr("width", 660)
                    .attr("height", 660)
                    .append("g")
                    .attr("transform", "translate(30, 30)");
        
        var xscale = d3.scale.linear().domain(XRANGE).range([0, 600]);
        var yscale = d3.scale.linear().domain(YRANGE).range([600, 0]);

        /*
        var rules = vis.selectAll("g.rule")
                       .data(x.ticks(10))
                       .enter()
                       .append("svg:g")
                       .attr("class", "rule");
        */

        svg.append("line")
           .attr("x1", 0)
           .attr("x2", 600)
           .attr("y1", yscale(0))
           .attr("y2", yscale(0))
           .attr("stroke", "#000")

        svg.append("line")
           .attr("x1", xscale(0))
           .attr("x2", xscale(0))
           .attr("y1", 0)
           .attr("y2", 600)
           .attr("stroke", "#000")

        svg.append("text")
           .attr("x", 300)
           .attr("y", 620)
           .attr("text-anchor", "middle")
           .attr("font-size", "1.5em")
           .text(XLABEL);

        svg.append("text")
           .attr("x", -10)
           .attr("y", 300)
           .attr("text-anchor", "middle")
           .attr("transform", "rotate(-90, -10, 300)")
           .attr("font-size", "1.5em")
           .text(YLABEL);

        
        dgl = svg.append("g");


        dgl.selectAll("circle")
           .data(DATA)
           .enter()
           .append("circle")
           .attr("cx", function(d){ return xscale(d.rankx); })
           .attr("cy", function(d){ return yscale(d.ranky); })
           .attr("r", 5)
           .attr("opacity", 0.3)
           .attr("fill", "#1234AA");

        dgl.selectAll("text")
           .data(DATA)
           .enter()
           .append("text")
           .attr("x", function(d){ return xscale(d.rankx); })
           .attr("y", function(d){ return yscale(d.ranky) - 12; })
           .attr("text-anchor", "middle")
           .attr("dy", "0.3em")
           .attr("clip", "inherit")
           .text(function(d){ return d.title; });

    });
</script>
{% endblock %}

{% block content %}
<div class="game-active">
    <h2>{{ game.title }} - {{ game.plotter }}</h2>
    <ul class="adjs">
        {% for ax in game.gameaxis_set.all %}
            <li>{{ ax.axis.title }}</li>
        {% endfor %}
    </ul>
</div>
<div class="chart">

</div>
{% endblock %}

{% block actions %}
<div class="input g12-12">
    <label for="">Enter a thing</label>
    <input type="text">
</div>
<div class="input g12-12">
    <label for="">Enter a few things</label>
    <ul>
        <li>Things</li>
        <li><input type="text"></li>
        <li><input type="text"></li>
        <li><input type="text"></li>
    </ul>
</div>
<!--
<div class="input g12-12">
    <h3>Suggested games</h3>
    {% for game in inactive_games %}
    <div class="game-inactive">
        <h2>{{ game.title }}</h2>
        <ul class="adjs">
            {% for ax in game.gameaxis_set.all %}
                <li>{{ ax.axis.title }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}     
</div>
-->
{% endblock %}

