{% extends "base.html" %}

{% block includes %}
<script type="text/javascript">

</script>
{% endblock %}

{% block content %}
{% for game in games %}
<a href="{% url 'game' game_slug=game.slug %}">
    <div class="game-active">
        <h2>{{ game.title }} - {{ game.plotter }}</h2>
        <ul class="adjs">
            {% for ax in game.gameaxis_set.all %}
                <li>{{ ax.axis.title }}</li>
            {% endfor %}
        </ul>
    </div>
</a>
{% endfor %}
{% endblock %}

{% block actions %}
<div class="input g12-12">
    <label for="">Enter a thing</label>
    <input type="text">
</div>
<div class="input g12-12">
    <label for="">Enter a few things</label>
    <ul>
        <li>Things</li>
        <li><input type="text"></li>
        <li><input type="text"></li>
        <li><input type="text"></li>
    </ul>
</div>
<!--
<div class="input g12-12">
    <h3>Suggested games</h3>
    {% for game in inactive_games %}
    <div class="game-inactive">
        <h2>{{ game.title }}</h2>
        <ul class="adjs">
            {% for ax in game.gameaxis_set.all %}
                <li>{{ ax.axis.title }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}     
</div>
-->
{% endblock %}
